<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AlttpRandomizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <AlttpRandomizer.Properties.Settings>
            <setting name="RandomizerDifficulty" serializeAs="String">
                <value>No Logic</value>
            </setting>
            <setting name="CreateSpoilerLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputFile" serializeAs="String">
                <value>ALttP Rando - &lt;seed&gt;.gba</value>
            </setting>
        </AlttpRandomizer.Properties.Settings>
    </userSettings>
</configuration>
